<!DOCTYPE html>
  <html>

    <head>
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
      <div class="topnav"> 
        <div><a href="/home">HOME</a></div>
        <div><a href="/registrations/signup">SIGNUP</a></div>
      </div>
    
        <div class="form">
        <form method="POST" action="/sessions">

        Email: 
        <br>
        <input type="email" name="email">
        <br>
        <br>
        Password: 
        <br>
        <input type="password" name="password">
        <br>
        <br>
        <input class="button" type="submit" value="Log In">
        <br>
        </form>
        </div>
            </body>

  </html>
