
    
        <div class="form">
        <form method="POST" action="/sessions">

        Email: 
        <br>
        <input type="email" name="email">
        <br>
        <br>
        Password: 
        <br>
        <input type="password" name="password">
        <br>
        <br>
        <input class="button" type="submit" value="Log In">
        <br>
        </form>
        </div>
           
