<!DOCTYPE html>
  <html>

    <head>
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
      <div class="topnav"> 
        <div><a href="/home">HOME</a></div>
        <div><a href="/sessions/login">LOGIN</a></div>
      </div>
      <h2 style='align:center;padding:10px;margin:10px;'> SIGN UP</h2>
        <div class="form">
        <form method="POST" action="/registrations">

        Name: 
        <input type="text" name="name">
        <br>
        <br>
        Email: 
        <input type="email" name="email">
        <br>
        <br>
        Password: 
        <input type="password" name="password">
        <br>
        <br>
        <input class="button" type="submit" value="Sign Up">
        <br>
        </form>
        </div>
        </body>

  </html>