<h2 style='align:center;padding:10px;margin:10px;'> SIGN UP</h2>

<div class="form">
  <form method="POST" action="/registrations">
    <%# Name: %>
    <br>
    <input type="text" name="name" placeholder="Name" style="border: 1px solid black;padding:10px;width:400px;">
    <%# <br> %>
    <br>
    <%# Email: %>
    <br>
    <input type="email" placeholder="Email" name="email" style="border: 1px solid black;padding:10px;width:400px;">
    <br>
    <%# <br> %>
    <%# Password: %>
    <br>
    <input type="password" placeholder="Password" name="password" style="border: 1px solid black;padding:10px;width:400px;">
    <br>
    <br>
    <input class="button" type="submit" value="Sign Up">
    <br>
  </form>
</div>