
     
      <h2 style='align:center;padding:10px;margin:10px;'> SIGN UP</h2>

        <div class="form">
        <form method="POST" action="/registrations">
        Name:
        <br>
        <input type="text" name="name">
        <br>
        <br>
        Email:
         <br>
        <input type="email" name="email">
        <br>
        <br>
        Password:
        <br>
        <input type="password" name="password">
        <br>
        <br>
        <input class="button" type="submit" value="Sign Up">
        <br>
        </form>
        </div>

