<div style='align:center;padding:10px;margin:10px;'>
  <h3>Create New Post</h3>
  <form method="GET" action="/posts">
    Title:<br>
    <input type="text" name="post_name"><br>
    Description:<br>
    <input type="text" name="description"<br><br>
    Address/Location:<br>
    <input type="text" name="location"><br><br>
    Payment:<br>
    <input type="text" name="payment"><br><br>
    <input type="submit">
  </form>
</div>
