<h3 style='align:center;padding:10px;margin:10px;'>CREATE NEW POST</h3>

<div class="form">
  <form method="POST" action="/posts/create_post">
    Title:<br>
    <input type="text" name="post_name"><br>
    Description:<br>
    <input type="text" name="description"<br><br>
    <br>

    <label for="Category">Category</label>
    <select name="subcategory_id">
        <optgroup label="Jobs">
          <option value="1">Web Developer</option>
          <option value="2">Web Designer</option>
        </optgroup>
        <optgroup label="Services">
          <option value="3">Web Development</option>
          <option value="4">Web Design</option>
        </optgroup>
        <optgroup label="Sale">
          <option value="5">Cars</option>
          <option value="6">Toys</option>
        </optgroup>
        </select>
    </select><br>

    Address/Location:<br>
    <input type="text" name="location"><br><br>
    Payment:<br>
    <input type="text" name="payment"><br><br>
    <input type="submit">
  </form>
  </div>
</div>
